# Sanal Ortam (Kesinlikle gitmemeli)
venv/
env/
.venv/

# Python Derleme Dosyaları
__pycache__/
*.pyc
*.pyo

# Yerel Veritabanı
*.sqlite3
db.sqlite3

# Kullanıcı Yüklemeleri ve Statik Çıktılar
media/
staticfiles/

# Çevre Değişkenleri ve Gizli Anahtarlar
.env

# Editör Ayarları
.vscode/
.idea/