{% extends "products/base.html" %}

{% block content %}
    <h2 class="mb-4 text-secondary">Products List</h2>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
        <div class="col">
            <!-- Bootstrap Kart Bileşeni -->
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <a href="{% url 'product-detail' product.id %}" class="btn btn-primary mb-2">{{ product.name }}</a>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Category: <span class="badge bg-secondary">{{ product.category.name }}</span>
                    </h6>
                    <p class="card-text"><strong>Price:</strong> {{ product.price }} TL</p>
                </div>
                <div class="card-footer bg-transparent border-top-0 d-flex gap-2 pb-3">
                    <button type="button" class="btn btn-success w-100">Add Basket</button>                    
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-100 text-center py-5">
            <p class="alert alert-warning">There is no product to be listed</p> 
        </div>
    {% endfor %}
    </div>
{% endblock %}
